body {
    background: rgb(0,0,0);
    background: linear-gradient(0deg, rgba(0,0,0,1) 8%, rgba(9,9,121,1) 78%, rgba(21,0,255,1) 100%);
    background-size: 100% 100%;
    min-height: 100vh;
    position: relative;
}

.navbar {
    background-color: #e3f2fd;
}

.paddingCar {
    padding: 0;
}

.fuenteCar {
    color:blue;
    background-color: whitesmoke;
    opacity: 90%;
    border-radius: 20px;
}

.widthCar {
    width: 100%;
    max-height: 673px;    
}

.container {
    padding-left: 0;
    padding-right: 0;
}

#bienvenida {
    margin: 8%;    
    border-radius: 20px;
    border-style: groove;
    background-color: rgb(168, 218, 218);
    border-color: orangered;
    opacity: 80%;    
}

.openings {
    display: flex;
    flex-direction: column;
    margin: auto;
    background-color: black;
    color: white;
    text-align: center;
}

#sinopsis {
    margin: 6% 6%;
    background-color: rgb(76, 100, 171);
    border-style: double;
    border-color: orange;
    border-width: 10px;
    border-radius: 20px;    
    font-size: larger;
    line-height: 50px;
    letter-spacing: 1px;
}

iframe {
    max-width: 450px;
}

footer {    
    min-height: 100px;
    text-align: center;    
    width: 100%;
    background-color: rgb(200, 121, 55);
    border-radius: 20px;
}

#mugis {
    margin: 4%;    
    border-radius: 20px;
    border-style: groove;
    background-color: rgb(168, 218, 218);
    border-color: orangered;
    opacity: 80%;    
}

.mugiCard {
    font-family: Libre Baskerville, serif;
    background-color: black;
    border-radius: 20px;   
    color: white; 
    border-color: white;
    border-radius: 20px;
    border-style: solid;
    width: 18rem;
}

.mugiCard img {
    border-radius: 20px;
    margin: 0;
}

.card-group {
    max-width: 300px;
}

.row {
    margin-left: 0 ;
    margin-right: 0;
}

.wrapperHist {
    position: relative;
    height: 100%;
}

.wrapperHist footer {
    position: absolute;
    bottom: 0;
}

#construccion {
    margin: 4%;    
    border-radius: 20px;
    border-style: groove;
    background-color: whitesmoke;
    align-items: center;
}

#construccion img {
    height: 100px;
    min-width: 100px;
    border-radius: 20px;
}

.mainH {
    height: 500px;
}

.footerH {
    position: absolute;
    bottom: 0;
}



